#XfceNotifyWindow {
    background-color: #F1F3EB;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #51534B;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #5CA15A;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #7C85B7;
    color: #959992;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #A35C35;
    color: #959992;
}

