#XfceNotifyWindow {
    background-color: #e9eeeb;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #5a644e;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #589424;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #bd720d;
    color: #91a3a4;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #528abd;
    color: #91a3a4;
}

