#XfceNotifyWindow {
    background-color: #ECF3F2;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #5C6362;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #1CABA1;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #5CBC7D;
    color: #A3B9C9;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #D89A47;
    color: #A3B9C9;
}

