#XfceNotifyWindow {
    background-color: #FBF8FD;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #4B484D;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #5A7ACD;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #AA6BC5;
    color: #B5AAB7;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #CB6832;
    color: #B5AAB7;
}

