#XfceNotifyWindow {
    background-color: #f6f6f6;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #4d654e;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #329c50;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #0eaac8;
    color: #9ebcc8;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #dc7d3a;
    color: #9ebcc8;
}

