#XfceNotifyWindow {
    background-color: #322A29;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #A29A99;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #BB7321;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #BD5956;
    color: #625D56;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #7A7DA7;
    color: #625D56;
}

