#XfceNotifyWindow {
    background-color: #1F2A2D;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #8F9A9D;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #AD6E8F;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #7E7EAD;
    color: #5F6163;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #974F6C;
    color: #5F6163;
}

