#XfceNotifyWindow {
    background-color: #ebebe7;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #556d5c;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #3d9954;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #38a997;
    color: #88a99b;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #2a92a5;
    color: #88a99b;
}

