#XfceNotifyWindow {
    background-color: #212C2D;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #919C9D;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #3D9D54;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #48A99B;
    color: #6B6B67;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #2AA2A5;
    color: #6B6B67;
}

