#XfceNotifyWindow {
    background-color: #E6E5D2;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #767562;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #4BA212;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #BB7628;
    color: #93AFA4;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #359FCA;
    color: #93AFA4;
}

