#XfceNotifyWindow {
    background-color: #081614;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #728d8c;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #76924c;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #358092;
    color: #758f74;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #a28d7c;
    color: #758f74;
}

