#XfceNotifyWindow {
    background-color: #1d192a;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #7e9ca8;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #536cb2;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #8955ba;
    color: #3c554d;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #a96a4b;
    color: #3c554d;
}

