#XfceNotifyWindow {
    background-color: #101D04;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #B0BDA4;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #487D14;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #8858A5;
    color: #3F4D24;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #5A5DA8;
    color: #3F4D24;
}

