#XfceNotifyWindow {
    background-color: #FEFCEE;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #5E5C4E;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #728852;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #8479A6;
    color: #8A9295;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #A3636D;
    color: #8A9295;
}

