#XfceNotifyWindow {
    background-color: #fff0f2;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #677468;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #dd619f;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #38A8b9;
    color: #99aabc;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #479cb5;
    color: #99aabc;
}

