#XfceNotifyWindow {
    background-color: #211B29;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #A19BA9;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #8955A2;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #278975;
    color: #2E2B2C;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #983D4F;
    color: #2E2B2C;
}

