#XfceNotifyWindow {
    background-color: #FCFAF9;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #4C4A49;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #9166AB;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #B95846;
    color: #A1ADAC;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #669824;
    color: #A1ADAC;
}

