#XfceNotifyWindow {
    background-color: #111d1c;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #79988b;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #9166ab;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #b95846;
    color: #3c513d;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #669824;
    color: #3c513d;
}

