/*
    Name: Bionis
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Description: Tested with Rouge-enabled Jekyll sites
    Theme URL: https://protesilaos.com/bionis
*/

// Variables ----------------------------

$dbg: #251A27; // Dark background
$dhl: #352A37; // Dark highlight
$dt2: #857A87; // Dark bg text secondary
$dt1: #B5AAB7; // Dark bg text primary

$lbg: #FBF8FD; // Light background
$lhl: #EBE8ED; // Light highlight
$lt2: #8B888D; // Light bg text secondary
$lt1: #3B383D; // Light bg text primary

$red: #C25A5B; // Red
$ora: #CB6832; // Orange
$yel: #BA8A00; // Yellow
$gre: #4DA35C; // Green

$cya: #439B9B; // Cyan
$blu: #5A7ACD; // Blue
$vio: #AA6BC5; // Violet
$mag: #C25783; // Magenta

// Base Defaults ------------------------
// Just swap $l with $d in the following four lines to switch between light/dark

$text1: $lt1;
$text2: $lt2;
$background: $lbg;
$highlight: $lhl;

// Colour order
// No need to configure

$primary1: $blu;
$primary2: $vio;
$primary3: $gre;

$secondary1: $cya;
$secondary2: $red;

$tertiary1: $ora;
$tertiary2: $mag;
$tertiary3: $yel;

// Syntax -------------------------------
// Classes are prefixed with .highlight

.highlight {
	background: $background;
	color: $t1;
	padding: $sone;

	.c { color: $t2; font-style: italic } /* Comment */
	.err { color: $background; background-color: $tertiary3 } /* Error */
	.k { color: $primary1 } /* Keyword */
	.o { color: $t1; font-weight: bold } /* Operator */
	.cm { color: $t2; font-style: italic } /* Comment.Multiline */
	.cp { color: $t2; font-weight: bold; font-style: italic } /* Comment.Preproc */
	.c1 { color: $t2; font-style: italic } /* Comment.Single */
	.cs { color: $t2; font-weight: bold; font-style: italic } /* Comment.Special */
	.gd { color: $background; background-color: $tertiary3 } /* Generic.Deleted */
	.ge { color: $t1; font-style: italic } /* Generic.Emph */
	.gr { color: $tertiary3 } /* Generic.Error */
	.gh { color: $t1 } /* Generic.Heading */
	.gi { color: $t1; background-color: $highlight } /* Generic.Inserted */
	.go { color: $primary2 } /* Generic.Output */
	.gp { color: $t2 } /* Generic.Prompt */
	.gs { font-weight: bold } /* Generic.Strong */
	.gu { color: $t1 } /* Generic.Subheading */
	.gt { color: $primary1 } /* Generic.Traceback */
	.kc { color: $primary2 } /* Keyword.Constant */
	.kd { color: $primary2 } /* Keyword.Declaration */
	.kn { color: $primary2 } /* Keyword.Namespace */
	.kp { color: $primary2 } /* Keyword.Pseudo */
	.kr { color: $primary2 } /* Keyword.Reserved */
	.kt { color: $tertiary2 } /* Keyword.Type */
	.m { color: $primary3 } /* Literal.Number */
	.s { color: $secondary1 } /* Literal.String */
	.na { color: $primary2 } /* Name.Attribute */
	.nb { color: $primary2 } /* Name.Builtin */
	.nc { color: $primary2 } /* Name.Class */
	.no { color: $primary2 } /* Name.Constant */
	.nd { color: $secondary2 } /* Name.Decorator */
	.ni { color: $secondary2 } /* Name.Entity */
	.ne { color: $secondary2; font-weight: bold } /* Name.Exception */
	.nf { color: $primary1; font-weight: bold } /* Name.Function */
	.nl { color: $t1 } /* Name.Label */
	.nn { color: $t1 } /* Name.Namespace */
	.nt { color: $primary1 } /* Name.Tag */
	.nv { color: $primary3 } /* Name.Variable */
	.ow { color: $t1; font-weight: bold } /* Operator.Word */
	.w { color: $t1 } /* Text.Whitespace */
	.mf { color: $primary3 } /* Literal.Number.Float */
	.mh { color: $primary3 } /* Literal.Number.Hex */
	.mi { color: $primary3 } /* Literal.Number.Integer */
	.mo { color: $primary3 } /* Literal.Number.Oct */
	.sb { color: $secondary1 } /* Literal.String.Backtick */
	.sc { color: $secondary1 } /* Literal.String.Char */
	.sd { color: $secondary1 } /* Literal.String.Doc */
	.s2 { color: $secondary1 } /* Literal.String.Double */
	.se { color: $tertiary1 } /* Literal.String.Escape */
	.sh { color: $tertiary1 } /* Literal.String.Heredoc */
	.si { color: $tertiary1 } /* Literal.String.Interpol */
	.sx { color: $tertiary2 } /* Literal.String.Other */
	.sr { color: $tertiary1 } /* Literal.String.Regex */
	.s1 { color: $secondary1 } /* Literal.String.Single */
	.ss { color: $secondary1 } /* Literal.String.Symbol */
	.bp { color: $secondary2 } /* Name.Builtin.Pseudo */
	.vc { color: $primary1 } /* Name.Variable.Class */
	.vg { color: $primary1 } /* Name.Variable.Global */
	.vi { color: $primary1 } /* Name.Variable.Instance */
	.il { color: $primary3 } /* Literal.Number.Integer.Long */
}
