/*
    Name: Nefelio
    Author: Protesilaos Stavrou (http://www.protesilaos.com)
    Description: Tested with Rouge-enabled Jekyll sites
    Theme URL: http://www.protesilaos.com/nefelio
*/

// Variables ----------------------------

$dbg: #282326; // Dark background
$dhl: #383336; // Dark highlight
$dt2: #686366; // Dark bg text secondary
$dt1: #989396; // Dark bg text primary

$lbg: #EAEFF2; // Light background
$lhl: #DADFE2; // Light highlight
$lt2: #9A9FA2; // Light bg text secondary
$lt1: #6A6F72; // Light bg text primary

$red: #BA3D5A; // Red
$ora: #CA6F5F; // Orange
$yel: #CA9E5D; // Yellow
$gre: #1CB57A; // Green

$cya: #34B7BD; // Cyan
$blu: #3F8EDA; // Blue
$vio: #956CDA; // Violet
$mag: #C34D95; // Magenta

// Base Defaults ------------------------
// Just swap $l with $d in the following three lines to switch between dark/light

$text1: $lt1;
$text2: $lt2;
$background: $lbg;
$highlight: $lhl;

// Colour order
// No need to configure

$primary1: $mag;
$primary2: $gre;
$primary3: $cya;

$secondary1: $blu;
$secondary2: $vio;

$tertiary1: $ora;
$tertiary2: $yel;
$tertiary3: $red;

// Syntax -------------------------------
// Classes are prefixed with .highlight

.highlight {
	background: $background;
	color: $text1;
	padding: 1rem;

	.c { color: $t2; font-style: italic } /* Comment */
	.err { color: $background; background-color: $tertiary3 } /* Error */
	.k { color: $primary1 } /* Keyword */
	.o { color: $text1; font-weight: bold } /* Operator */
	.cm { color: $t2; font-style: italic } /* Comment.Multiline */
	.cp { color: $t2; font-weight: bold; font-style: italic } /* Comment.Preproc */
	.c1 { color: $t2; font-style: italic } /* Comment.Single */
	.cs { color: $t2; font-weight: bold; font-style: italic } /* Comment.Special */
	.gd { color: $background; background-color: $tertiary3 } /* Generic.Deleted */
	.ge { color: $text1; font-style: italic } /* Generic.Emph */
	.gr { color: $tertiary3 } /* Generic.Error */
	.gh { color: $text1 } /* Generic.Heading */
	.gi { color: $text1; background-color: $highlight } /* Generic.Inserted */
	.go { color: $primary2 } /* Generic.Output */
	.gp { color: $t2 } /* Generic.Prompt */
	.gs { font-weight: bold } /* Generic.Strong */
	.gu { color: $text1 } /* Generic.Subheading */
	.gt { color: $primary1 } /* Generic.Traceback */
	.kc { color: $primary2 } /* Keyword.Constant */
	.kd { color: $primary2 } /* Keyword.Declaration */
	.kn { color: $primary2 } /* Keyword.Namespace */
	.kp { color: $primary2 } /* Keyword.Pseudo */
	.kr { color: $primary2 } /* Keyword.Reserved */
	.kt { color: $tertiary2 } /* Keyword.Type */
	.m { color: $primary3 } /* Literal.Number */
	.s { color: $secondary1 } /* Literal.String */
	.na { color: $primary2 } /* Name.Attribute */
	.nb { color: $primary2 } /* Name.Builtin */
	.nc { color: $primary2 } /* Name.Class */
	.no { color: $primary2 } /* Name.Constant */
	.nd { color: $secondary2 } /* Name.Decorator */
	.ni { color: $secondary2 } /* Name.Entity */
	.ne { color: $secondary2; font-weight: bold } /* Name.Exception */
	.nf { color: $primary1; font-weight: bold } /* Name.Function */
	.nl { color: $text1 } /* Name.Label */
	.nn { color: $text1 } /* Name.Namespace */
	.nt { color: $primary1 } /* Name.Tag */
	.nv { color: $primary3 } /* Name.Variable */
	.ow { color: $text1; font-weight: bold } /* Operator.Word */
	.w { color: $text1 } /* Text.Whitespace */
	.mf { color: $primary3 } /* Literal.Number.Float */
	.mh { color: $primary3 } /* Literal.Number.Hex */
	.mi { color: $primary3 } /* Literal.Number.Integer */
	.mo { color: $primary3 } /* Literal.Number.Oct */
	.sb { color: $secondary1 } /* Literal.String.Backtick */
	.sc { color: $secondary1 } /* Literal.String.Char */
	.sd { color: $secondary1 } /* Literal.String.Doc */
	.s2 { color: $secondary1 } /* Literal.String.Double */
	.se { color: $tertiary1 } /* Literal.String.Escape */
	.sh { color: $tertiary1 } /* Literal.String.Heredoc */
	.si { color: $tertiary1 } /* Literal.String.Interpol */
	.sx { color: $tertiary2 } /* Literal.String.Other */
	.sr { color: $tertiary1 } /* Literal.String.Regex */
	.s1 { color: $secondary1 } /* Literal.String.Single */
	.ss { color: $secondary1 } /* Literal.String.Symbol */
	.bp { color: $secondary2 } /* Name.Builtin.Pseudo */
	.vc { color: $primary1 } /* Name.Variable.Class */
	.vg { color: $primary1 } /* Name.Variable.Global */
	.vi { color: $primary1 } /* Name.Variable.Instance */
	.il { color: $primary3 } /* Literal.Number.Integer.Long */
}
