#XfceNotifyWindow {
    background-color: #f9f8fc;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #3d463f;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #3D814C;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #01917b;
    color: #8aa0a4;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #ad5c5b;
    color: #8aa0a4;
}

