#XfceNotifyWindow {
    background-color: #f2f1ef;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #5d6348;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #dc7926;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #db9d0b;
    color: #98b4ac;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #aa8bee;
    color: #98b4ac;
}

