#XfceNotifyWindow {
    background-color: #EBEDDF;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #6B6D5F;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #9D6936;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #8B9C3A;
    color: #ADAEAF;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #6C9CBA;
    color: #ADAEAF;
}

