#XfceNotifyWindow {
    background-color: #FAF1E0;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #7A7160;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #65AFCD;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #7DB97A;
    color: #93BFC4;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #CA6E6A;
    color: #93BFC4;
}

