// Oliveira
// By Protesilaos Stavrou (http://www.protesilaos.com)
$dbg: #1A2217; // Dark background
$dhl: #2A3227; // Dark highlight
$dt2: #6A7167; // Dark bg text secondary
$dt1: #8A9187; // Dark bg text primary

$lbg: #F7F9F4; // Light background
$lhl: #E7E9E4; // Light highlight
$lt2: #778974; // Light bg text secondary
$lt1: #374934; // Light bg text primary

$red: #A64E3C; // Red
$ora: #A35C35; // Orange
$gre: #477E44; // Green
$blu: #107595; // Blue

$mag: #A95F85; // Magenta
$yel: #A59520; // Yellow
$cya: #5CA090; // Cyan
$vio: #6C85B7; // Violet

// Mapped to base16 classes
.base00: $dbg; // dark background
.base01: $dhl; // dark highlight
.base02: $lt1; // light bg text primary
.base03: $lt2; // light bg text secondary
.base04: $dt1; // dark bg text primary
.base05: $dt2; // dark bg text secondary
.base06: $lhl; // light highlight
.base07: $lbg; // light background
.base08: $red; // red
.base09: $ora; // orange
.base0A: $yel; // yellow
.base0B: $gre; // green
.base0C: $cya; // cyan
.base0D: $blu; // blue
.base0E: $vio; // violet
.base0F: $mag; // magenta

// Mapped to base16 variables
$base00: $dbg; // dark background
$base01: $dhl; // dark highlight
$base02: $lt1; // light bg text primary
$base03: $lt2; // light bg text secondary
$base04: $dt1; // dark bg text primary
$base05: $dt2; // dark bg text secondary
$base06: $lhl; // light highlight
$base07: $lbg; // light background
$base08: $red; // red
$base09: $ora; // orange
$base0A: $yel; // yellow
$base0B: $gre; // green
$base0C: $cya; // cyan
$base0D: $blu; // blue
$base0E: $vio; // violet
$base0F: $mag; // magenta
