#XfceNotifyWindow {
    background-color: #FAFAEC;
    border-radius: 2px;
    border: none;
    padding: 40px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12px;
    font-weight: 400;
    color: #5A5A4C;
}

#XfceNotifyWindow label#summary {
    font-size: 18px;
    font-weight: 700;
    color: #378BBD;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color: #679945;
    color: #98ADAA;
    padding: 0.5em 1em;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color: #C9753D;
    color: #98ADAA;
}

